version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - frontend_net

  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5001:5000"
    depends_on:
      - db
    networks:
      - frontend_net
      - backend_net

  db:
    image: postgres:15
    container_name: database
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend_net

volumes:
  db_data:

networks:
  frontend_net:
  backend_net: